body {
  /* margin: 0 200px; */
}

.App {
  text-align: center;

}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links{
  display: flex;
  justify-content: space-evenly;
  width: 1500px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  padding: 30px;
  background-color: rgb(234, 202, 230);
}
.image{
  width: 50%;
  height: px;
  align-self: center;
}

.note-body{
  display:flex;
  flex-direction: row-reverse;
  width:1200px;
  justify-content: space-between;
}

.container{
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.note-page{
max-width: 1000px;
}

.note.add {
  max-height: inherit;
}

.note input {
  background-color: #f7f4b2;
}

textarea{
  border: none;
  resize: none;
  background-color: #f7f4b2;
  width: auto;
}
textarea:focus {
  outline: none;
}

.selector{
  background-color: #f7f4b2;
  width: fit-content;
  align-self: center;
  margin: 0 auto;
}


.note-list{
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 1fr;
}

.note{
  background-color: #f7f4b2;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.comment-list{
  overflow-y: scroll;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 370px;
}

.comment{
  background-color: #f7f4b2;
  border-radius: 10px;
  /* margin-top: 10px; */
  padding: 1rem;
  min-height: 100px;
  min-width: 100px; 
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: hidden;
}


.comment img{
  width: 210px;
  height: 75px;
}
.note:hover{
  cursor: pointer;
}

.note img{
  width: 50px;
  height: 50px;
  align-self: center;
  float: left;
}

.note-heading{
  display: flex;
  justify-content: space-around;
}

.comment-content{
  max-height: 100px;
  overflow-y: scroll;
}
li small {
  /* display: inline; */
  max-height: 100px;
  overflow-y: scroll;
}
